@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Oswald&family=Roboto:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62, 5%;
  background-color: white;
  min-height: 100vh;
  max-width: 100%;
}

#logo {
  width: 120px;
  height: 120px;
  padding: 10px;
}

#logo:hover {
  transform: scale(1.5);
  transition-duration: 1.5s;
}

#busqueda {
  width: auto;
}

#barra {
  width: auto;
  padding: 0%;
  background-color: white;
}

#buscar {
  border-radius: 3px white;
  background-color: wheat;
  width: auto;
}

#buscar:hover {
  background-color: aliceblue;
}

.carrito {
  padding: 10px;
  width: auto;
}
@media (min-width: 1024px) {
  .carrito {
    margin-right: 5%;
  }
}
.carrito p {
  background-color: #0d6efd;
  width: 4em;
  color: #fff;
  margin-top: 10px;
  padding: 5px;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: blue;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
}

button {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  width: auto;
  font-weight: 700;
  padding: 5px;
}

button:hover {
  color: white;
}

footer {
  background-color: #f8f9fa;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  display: flex;
  justify-content: space-around;
}
.footer_grid img {
  width: 35px;
  height: 35px;
  margin-left: 5em;
}

.derechos {
  text-align: center;
  font-weight: 900;
}

.flex-container {
  margin-top: 15em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: auto;
  margin-left: 1em;
  margin: 5em;
  max-width: 100%;
  box-shadow: 18px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.caja img {
  width: 15em;
}
.caja p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.ofertas h1 {
  text-align: center;
  margin-top: 2em;
  padding: 10px;
  margin-top: 5em;
}

.empresa {
  box-shadow: 18px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  height: auto;
  text-align: center;
  margin: 2em;
}

.envios {
  text-align: center;
}
.envios img {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2;
    grid-template-rows: minmax(100px, auto);
  }
  .empresa {
    padding: 2%;
    width: 45em;
    margin: 5%;
  }
  .empresa button {
    background-color: aliceblue;
    color: black;
  }
  .caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    width: 20em;
    margin-left: 3em;
    width: auto;
    transition: all 2s;
  }
  .caja img {
    width: 15em;
  }
}
@media (min-width: 1024px) {
  .empresa {
    margin-left: 30%;
  }
  .flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3;
    margin-top: 0;
  }
  .ofertas h1 {
    margin-bottom: 0%;
  }
}
h1 {
  text-align: center;
  margin: 2em;
}

.carousel {
  text-align: center;
}

.joyas_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2;
  margin-top: 30px;
}

.joyas {
  text-align: center;
  margin: 5em;
}
.joyas img {
  width: 15em;
}

.titulo {
  padding: 15px;
}

.joyas_caja {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: auto;
  max-width: 100%;
  box-shadow: 18px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.joyas_caja img {
  width: 15em;
}
.joyas_caja p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

@media (min-width: 768px) {
  .joyas_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2;
  }
}
@media (min-width: 1024px) {
  .joyas_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3;
  }
  .joyas_caja {
    margin-left: 1em;
  }
}
.formulario__duda {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 0%;
}

.formulario h5 {
  text-align: center;
}
.formulario h5 input, .formulario h5 textarea {
  width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  color: black;
  margin-bottom: 3em;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border: none;
}
.formulario h5 h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
.formulario h5 input, .formulario h5 select {
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 3%;
  border-radius: 7px;
}
form textarea {
  padding: 5em;
  text-align: start;
}

.contacto {
  text-align: center;
  margin: 5em;
}
.contacto img {
  width: 38px;
  height: 38px;
}

.comocomprar {
  margin-left: 8em;
  margin: 3em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10%;
}
.comocomprar h6 a:hover {
  color: #0d6efd;
}
@media (min-width: 768px) {
  .comocomprar {
    margin-top: 10px;
  }
}

body {
  background: #fff;
  font-family: sans-serif;
}

form {
  width: 400px;
  margin: auto;
  background: #ddd;
  padding: 20px;
  margin-top: 20px;
  color: black;
  margin-bottom: 3em;
  border: none;
  cursor: pointer;
}
form h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
form input, form select {
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
}

.usuario {
  text-align: center;
  height: auto;
  padding: 30px;
  margin-bottom: 5em;
  width: auto;
  margin-right: 3em;
}

input {
  padding: 10px;
}/*# sourceMappingURL=style.css.map */