
.flex-container{
    @include grid (1 , 0);
}

.caja{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: $ancho;
    margin-left: 1em;
    margin: 5em;
    max-width: 100%;
    box-shadow: 18px 0px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    img{
    width: 15em;
    }
    p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    }
}


.ofertas h1{
    text-align: center;
    margin-top: 2em;
    padding: 10px;
}

.empresa{  
    box-shadow: 18px 0px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    height: auto;
    text-align: center;
    margin: 2em;
    button{
        background-color: aliceblue;
        color: black;
    }
}

.envios{
    text-align: center;
    img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 768px ){
    .flex-container{
        @include grid (2 , 2);
        grid-template-rows: minmax(100px, auto) ;
        
    }
    .empresa{
        padding: 2%;
        width: 45em;
        margin: 5%;
    }
    .caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 5px;
        width: 20em;
        margin-left: 3em;
        width: auto;
        transition: all 2s;
        img{
            width: 15em;
        }
    }
}

@media (min-width: 1024px) {
    .empresa{
        margin-left: 30%;
    }
    .flex-container{
    @include grid (3 , 3);
    margin-top: 0;
    }
    .ofertas h1{
        margin-bottom: 0%;
    }
}



